<%- contentFor('title') %> <%= titulo %> <%- contentFor('body') %>

<main>
<!--tyc-->
<div class="about" id="nosotros">
	<div class="container">
	  <div class="about-top-grids">
		<div class="col-md-12 about-top-grid">
		  
			<div class="about-para">
				<h1>Peluquería Canina a Domicilio - Baño y Corte de Pelo para Perros.</h1>
				<p>¡Localidades y barrios que cubrimos con nuestros servicios de baño y peluquería canina a domicilio y puerta a puerta!</p>
				<div class="arrow">
				<ul>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="barrio_chino">Baño y Peluquería Canina en el Barrio Chino</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="belgrano">Baño y Peluquería Canina en Belgrano</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/belgrano_r">Baño y Peluquería Canina en Belgrano R</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/">Baño y Peluquería Canina en CABA</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/chacarita">Baño y Peluquería Canina en Chacarita</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/coghlan">Baño y Peluquería Canina en Coghlan</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/colegiales">Baño y Peluquería Canina en Colegiales</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/florida">Baño y Peluquería Canina en Florida</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/la_lucila">Baño y Peluquería Canina en La Lucila</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/martinez">Baño y Peluquería Canina en Martinez</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/nunez">Baño y Peluquería Canina en Nuñez</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/olivos">Baño y Peluquería Canina en Olivos</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/saavedra">Baño y Peluquería Canina en Saavedra</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/san_isidro">Baño y Peluquería Canina en San Isidro</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/vicente_lopez">Baño y Peluquería Canina en Vicente López</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/villa_devoto">Baño y Peluquería Canina en Villa Devoto</a></p>
					</li>
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/villa_urquiza">Baño y Peluquería Canina en Villa Urquiza</a></p>
					</li>
					<!-- <li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/agronomia">Baño y Peluquería Canina en Agronomía</a></p>
					</li> -->
					<!-- <li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p><a href="/villa_del_parque">Baño y Peluquería Canina en Villa Del Parque</a></p>
					</li> -->
					<li>
						<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
						<p>Baño y Peluquería Canina en CABA</p>
					</li>
					
			</div>
		</div>

		<div class="clearfix"></div>
	  </div>
	</div>
  </div>

</main>