<%- contentFor('title') %> <%= titulo %> <%- contentFor('body') %>

<main>
<!--tyc-->
<div class="about" id="nosotros">
	<div class="container">
	  <div class="about-top-grids">
		<div class="col-md-12 about-top-grid">
		  
		  <div class="about-para">
			<h2>Localidades Servicio de Peluquería Canina a Domicilio</h2>
			<p>¡Localidades y barrios que cubrimos con nuestros servicios de baño y peluquería canina a domicilio y puerta a puerta!</p>
			<h2>Peluquerías Caninas a Domicilio</h2>
			<p>Recopilamos los siguientes datos personales:</p>
			<div class="arrow">
			  <ul>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en CABA</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Villa Urquiza</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Belgrano</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Colegiales</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Belgrano R</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Chacarita</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Agronomía</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Nuñez</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Coghlan</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Villa del Parque</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en San Isidro</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Vicente López</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Saavedra</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Florida</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en Martinez</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en La Lucila</p>
				</li>
				<li>
					<span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
					<p>Baño y Peluquería Canina en CABA</p>
				</li>
				
		  </div>
		</div>

		<div class="clearfix"></div>
	  </div>
	</div>
  </div>

</main>