<div class="about" id="nosotros">
    <div class="container">
        <div class="about-top-grids">
            <div class="col-md-7 about-top-grid">
                <h4><%= tituloabout %></h4>
                <div class="arrow">
                    <ul>
                        <li><span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
                            <p>33 años en el mercado</p>
                        </li>
                        <li><span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
                            <p>Servicio de calidad comprobable</p>
                        </li>
                        <li><span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
                            <p>Productos de 1era calidad</p>
                        </li>
                        <li><span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
                            <p>Precios accesibles</p>
                        </li>
                        <li><span class="fa fa-paw dog-arrow" aria-hidden="true"></span>
                            <p><%= mensaje %></p>
                        </li>
                    </ul>
                </div>
                <div class="about-para">
                    <p>Somos la primera peluquería canina a domicilio de <%= ciudad %> y Argentina. Desde hace más de 33 años brindamos el mejor servicios de baño y peluquería para perros a domicilio. Con productos de calidad a un precio accesible cuidando la salud de tu mascota. Expertos en baño de perros a domicilio. Somos Smokie, tu primer peluquería canina a domicilio.</p>
                </div>
            </div>
            <div class="col-md-5 pope banner-agileits-btm" id="image"></div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>