<footer>
    <p>&copy; 2022 Smokie Web Peluquería Canina a Domicilio en <%= ciudad %> | <a href="/terminos_y_condiciones" target="_blank">Términos y Condiciones</a> | Buenos Aires - ARGENTINA</p>
    <!-- <p>&copy; 2022 Smokie Web Peluquería Canina | Políticas de Privacidad | Buenos Aires - ARGENTINA</p> -->
</footer>
