<footer>
    <p>&copy; 2022 Smokie Web Peluquería Canina | <a href="politicas_de_privacidad.html" target="_blank">Políticas de Privacidad</a> | Buenos Aires - ARGENTINA</p>
    <!-- <p>&copy; 2022 Smokie Web Peluquería Canina | Políticas de Privacidad | Buenos Aires - ARGENTINA</p> -->
</footer>
