<div class="price-table" id="precios">
    <div class="container">
        <h2 class="title clr ">Lista de Precios Peluquería Canina a Domicilio en <%= ciudad %></h2>

        <div class="agileits-banner-grids text-center">

            <div class="col-md-3 col-sm-3 col-xs-3 clr1 agileits-banner-grid">

                <h4>Chico hasta 10 kg</h4>
                <p style="color: aqua;">Pomerania, Bichón, Yorkshire...</p>
                <div class="table_cost">
                    <span class="cost clr-price">Desde $15.000</span>
                <p style="color: rgb(222, 224, 224);">Varia según estado</p>
                </div>
                <div class="list-price">
                    <ul>
                        <!-- <li>Baño</li> -->
                        <!-- <li>Secado</li> -->
                        <li>Corte de pelo</li>
                        <li>Cepillado</li>
                        <li>Corte de uñas</li>
                        
                    </ul>
                </div>
                <!-- <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Solicitar</a> -->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3  clr2 agileits-banner-grid">

                <h4>Mediano 10 a 15 kg</h4>
                <p style="color: aqua;">Basset, Fox Terrier, Beagle...</p>
                <div class="table_cost">
                    <span class="cost">Desde $18.000</span>
                <p style="color: rgb(235, 235, 235);">Varia según estado</p>
                </div>
                <div class="list-price">
                    <ul>
                        <!-- <li>Baño</li> -->
                        <!-- <li>Secado</li> -->
                        <li>Corte de pelo</li>
                        <li>Cepillado</li>
                        <li>Corte de uñas</li>
                    </ul>
                </div>
                <!-- <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Solicitar</a> -->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 clr1 agileits-banner-grid">

                <h4>Grande 15 a 35 kg</h4>
                <p style="color: aqua;">Collie, Boxer, Retriever...</p>
                <div class="table_cost">
                    <span class="cost">Desde $24.000</span>
                <p style="color: rgb(224, 224, 224);">Varia según estado</p>
                </div>
                <div class="list-price">
                    <ul>
                        <!-- <li>Baño</li> -->
                        <!-- <li>Secado</li> -->
                        <li>Corte de pelo</li>
                        <li>Cepillado</li>
                        <li>Corte de uñas</li>
                    </ul>
                </div>
                <!-- <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Solicitar</a> -->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3  clr2 agileits-banner-grid">

                <h4>Más de 35 kg</h4>
                <p style="color: aqua;">Ovejero, Terranova, San Bernardo...</p>
                <div class="table_cost">
                    <span class="cost">Desde $27.000</span>
                <p style="color: rgb(235, 235, 235);">Varia según estado</p>
                </div>
                <div class="list-price">
                    <ul>
                        <!-- <li>Baño</li> -->
                        <!-- <li>Secado</li> -->
                        <li>Corte de pelo</li>
                        <li>Cepillado</li>
                        <li>Corte de uñas</li>
                    </ul>
                </div>
                <!-- <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Solicitar</a> -->
            </div>

            <div class="clearfix"></div>

        </div>

        <!-- <div class="outs_more-buttn">
            <a href="#" data-toggle="modal" data-target="#myModal">Solicitar Turno</a>
        </div> -->
    </div>
</div>