<div class="price-table" id="precios">
    <div class="container">
        <h2 class="title clr ">Lista de Precios Peluquería Canina a Domicilio</h2>

        <div class="agileits-banner-grids text-center">

            <div class="col-md-4  col-sm-4  col-xs-4 clr1 agileits-banner-grid">

                <h4>Chico h/ 10 kg</h4>
                <p style="color: aqua;">Pomerania, Bichón, Yorkshire...</p>
                <div class="table_cost">
                    <span class="cost clr-price">Desde $15.000</span>
                <p style="color: rgb(222, 224, 224);">Dependiendo del estado</p>
                </div>
                <div class="list-price">
                    <ul>
                        <!-- <li>Baño</li> -->
                        <!-- <li>Secado</li> -->
                        <li>Corte de pelo</li>
                        <li>Cepillado</li>
                        <li>Corte de uñas</li>
                        
                    </ul>
                </div>
                <!-- <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Solicitar</a> -->
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4  clr2 agileits-banner-grid">

                <h4>Mediano h/ 15 kg</h4>
                <p style="color: aqua;">Basset, Fox Terrier, Russell...</p>
                <div class="table_cost">
                    <span class="cost">Desde $18.000</span>
                <p style="color: rgb(235, 235, 235);">Dependiendo del estado</p>
                </div>
                <div class="list-price">
                    <ul>
                        <!-- <li>Baño</li> -->
                        <!-- <li>Secado</li> -->
                        <li>Corte de pelo</li>
                        <li>Cepillado</li>
                        <li>Corte de uñas</li>
                    </ul>
                </div>
                <!-- <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Solicitar</a> -->
            </div>
            <div class="col-md-4  col-sm-4  col-xs-4 clr1 agileits-banner-grid">

                <h4>Grande + 15 kg</h4>
                <p style="color: aqua;">Collie, Chow Chow, Ovejero...</p>
                <div class="table_cost">
                    <span class="cost">Desde $24.000</span>
                <p style="color: rgb(126, 126, 126);">Dependiendo del estado</p>
                </div>
                <div class="list-price">
                    <ul>
                        <!-- <li>Baño</li> -->
                        <!-- <li>Secado</li> -->
                        <li>Corte de pelo</li>
                        <li>Cepillado</li>
                        <li>Corte de uñas</li>
                    </ul>
                </div>
                <!-- <a class="w3_play_icon1" href="#" data-toggle="modal" data-target="#myModal"> Solicitar</a> -->
            </div>

            <div class="clearfix"></div>

        </div>

        <!-- <div class="outs_more-buttn">
            <a href="#" data-toggle="modal" data-target="#myModal">Solicitar Turno</a>
        </div> -->
    </div>
</div>