<div class="services" id="servicios">
    <div class="container">
        <h2 class="title clr">Servicios de Corte de Uñas, Baño y Peluquería Canina</h2>

        <div class="banner-bottom-girds ">
            <!-- <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-shower banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Baño</h4>
                    <p>En nuestra peluquería canina a domicilio realizamos baños caninos a domicilio completos, utilizamos productos hipoalergénicos y específicos para cada tipo de pelaje y piel. Incluye un shampú nutritivo para mantener el pelo de tu perro suave y brillante.</p>
                    <div class="clearfix"> </div>
                </div>
            </div> -->
            <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-paw banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Corte de Uñas</h4>
                    <p>Los beneficios de mantener las uñas de tu perro cortas son numerosos. Además de prevenir el malestar y las lesiones asociadas con las uñas largas, el corte regular de uñas también puede promover una mejor postura y una marcha más natural en tu mascota.</p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-ear-deaf banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Limpieza de Oídos</h4>
                    <p>Mantener los oídos de tu perro limpios impide infecciones y problemas auditivos. Utilizamos productos limpiadores específicos de calidad que son gentiles pero efectivas, asegurando una limpieza profunda sin irritar ayudando a la higiene de tu mascota.</p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fa-solid fa-dog banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Corte de Pelo</h4>
                    <p>Hacemos cortes higiénicos y cortes de pelo para perros específicos para cada raza. En nuestra modalidad de peluquería canina a domicilio en <%= ciudad %> usamos herramientas de grooming para mascotas profesionales asegurando un acabado perfecto respetando el bienestar de tu mascota.</p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-scissors banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-shadow">
                    <h4 class="servicios">Entre Pelo Patas</h4>
                    <p>El pelo largo y enmarañado puede atrapar suciedad, humedad y parásitos, como pulgas y garrapatas. Además, las almohadillas plantares de los perros necesitan un mantenimiento especial ya que son el punto de apoyo diario de nuestras mascotas.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class="left-icon-grid">
                    <span class="fa fa-wind banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Desenredado</h4>
                    <p>Eliminamos nudos y enredos en el pelaje de tu perro, utilizando peines y cepillos específicos. También en nuestro servicio de peluquería canina a domicilio realizamos deslanado para reducir la caída del pelo y mantener el pelaje de tu mascota saludable.</p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-teeth banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Cepillado Dental</h4>
                    <p>En nuestra peluquería para perros a domicilio creemos que el cuidado de los dientes de tu perro es fundamental para su salud general. Ofrecemos un servicio de cepillado dental canino que ayuda a prevenir el sarro y las enfermedades de las encías.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        
    </div>
    <!-- <div class="outs_more-buttn">
        <a href="#" data-toggle="modal" data-target="#myModal">Solicitar Turno</a>
    </div> -->
</div>