<div class="services" id="servicios">
    <div class="container">
        <h3 class="title clr">Servicios</h3>

        <div class="banner-bottom-girds ">
            <!-- <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-bath banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Baño</h4>
                    <p>Baño con productos de calidad + secado.</p>
                    <div class="clearfix"> </div>
                </div>
            </div> -->
            <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-dog  banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Limpieza de oídos</h4>
                    <p>Con el cuidado que tu mascota merece.</p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-cut banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Corte</h4>
                    <p>Peluquería Canina. Cortes regulares, de raza e higiénicos.</p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-hand-scissors banner-icon" aria-hidden="true"></span>
                </div>
                <div class="white-shadow">
                    <h4 class="servicios">Uñas</h4>
                    <p>Corte y/o rebaje de uñas.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- <div class="col-md-4  col-sm-6 col-xs-6  its-banner-grid">
                <div class="left-icon-grid">
                    <span class="fa fa-eye banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Asesoramiento</h4>
                    <p>Recomendaciones para cuidar a tu mascota.</p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6  its-banner-grid">
                <div class=" left-icon-grid">
                    <span class="fas fa-bone banner-icon" aria-hidden="true"></span>
                </div>
                <div class=" white-shadow">
                    <h4 class="servicios">Alimentos</h4>
                    <p>Muy pronto te llevaremos el alimento a tu hogar.
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div> -->
            <div class="clearfix"> </div>
        </div>
        
    </div>
    <!-- <div class="outs_more-buttn">
        <a href="#" data-toggle="modal" data-target="#myModal">Solicitar Turno</a>
    </div> -->
</div>