<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <div class="slider-img">
                    <div class="container">
                        <div class="slider-info">
                            <h4> <span class="fa fa-paw paw-banner" aria-hidden="true"></span><span class="home-banner">B</span>año de <span class="home-banner">M</span>ascotas a <span class="home-banner">D</span>omicilio
                                <span class="fa fa-paw paw-banner" aria-hidden="true"></span></h4>
                            <p><%= ciudad %></p>
                            <div class="outs_more-buttn">
                                <a href="#" data-toggle="modal" data-target="#myModal">Solicitar Turno</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img ">
                    <div class="container">
                        <div class="slider-info">
                            <h4> <span class="fa fa-paw paw-banner" aria-hidden="true"></span><span class="home-banner">P</span>eluquería <span class="home-banner">C</span>anina a <span class="home-banner">D</span>omicilio
                                <span class="fa fa-paw paw-banner" aria-hidden="true"></span> </h4>
                            <p><%= ciudad %></p>
                            <!-- <div class="outs_more-buttn">
                                <a href="#" data-toggle="modal" data-target="#myModal">Solicitar Turno</a>
                            </div> -->
                            <div class="wa-horizontal-buttn">
                                <a href="https://api.whatsapp.com/send?phone=541159197589&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20cortes%20de%20pelo%20para%20perros%20a%20domicilio." target="_blank">Consultanos por Whatsapp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img ">
                    <div class="container">
                        <div class="slider-info">
                            <h4><span class="fa fa-paw paw-banner" aria-hidden="true"></span><span class="home-banner">C</span>orte <span class="home-banner">D</span>e <span class="home-banner">P</span>elo <span class="home-banner">C</span>anino en <span class="home-banner">C</span>asa
                                <span class="fa fa-paw paw-banner" aria-hidden="true"></span></span> </h4>
                            <p><%= ciudad %></p>
                            <!-- <div class="outs_more-buttn">
                                <a href="#" data-toggle="modal" data-target="#myModal">Solicitar Turno</a>
                            </div> -->
                            <div class="wa-horizontal-buttn">
                                <a href="https://api.whatsapp.com/send?phone=541159197589&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20cortes%20de%20pelo%20para%20perros%20a%20domicilio." target="_blank">Consultanos por Whatsapp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>					
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>