<div class="testimonials" id="testimoniales">
    <div class="container">

        <h2 class="title">Clientes de nuestra peluquería canina en <%= ciudad %></h2> 

        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="/home/images/t5.webp" alt="Cliente Testimonial 5" title="Cliente Testimonial 5">
                </li>
                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="/home/images/t6.webp" alt="Cliente Testimonial 5" title="Cliente Testimonial 6">
                </li>
                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="/home/images/t3.webp" alt="Cliente Testimonial 5" title="Cliente Testimonial 3">
                </li>
                <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive" src="/home/images/t7.webp" alt="Icono perfil t7" title="Cliente Testimonial 7">
                </li>
                <li data-target="#quote-carousel" data-slide-to="4"><img class="img-responsive" src="/home/images/t8.webp" alt="Cliente Testimonial 5" title="Cliente Testimonial 5">
                </li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">

                <!-- Quote 1 -->
                <div class="item active">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">
                                <p>¡Increíble servicio! Mi perro siempre se ponía nervioso en las peluquerías, pero con este servicio a domicilio estuvo tranquilo y feliz. El equipo es profesional, amable y dejó a mi mascota impecable. ¡Definitivamente los recomiendo!</p>
                                <h5>*Camila - Belgrano*</h5>
                            </div>


                        </div>
                    </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">

                                <p>Estoy encantada con el resultado. Mi perrita quedó hermosa, limpia y muy bien cuidada. Además, la comodidad de que vengan a casa hace toda la diferencia. Excelente atención y puntualidad. ¡No cambio de peluquería!</p>
                                <h5>*Ruanda - Villa del Parque*</h5>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">

                                <p>Súper agradecido con el servicio. Fueron muy cuidadosos con mi perro, y quedó perfecto después del corte. Se nota que Sergio ama lo que hace. Todo fue rápido, sin estrés para él. ¡Ya agendé la próxima cita!</p>
                                <h5>*Gabriel - Villa Urquiza*</h5>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 4 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">

                                <p>¡Cinco estrellas! Mi perrito odia los traslados, así que esta opción fue ideal. La peluquería a domicilio es cómoda y profesional. Lo dejaron suave, perfumado y muy lindo. ¡Mil gracias por el cariño y paciencia que le tuvieron!</p>
                                <h5>*Hernán - Nuñez*</h5>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 5 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">

                                <p>¡Qué gran experiencia! Llegó puntual y bien preparado. Oli quedó preciosa, con un corte impecable y las uñas perfectamente arregladas. La tranquilidad de que lo atendieran en casa no tiene precio. ¡Recomiendo este servicio al 100%!</p>
                                <h5>*Alicia - Parque Chas*</h5>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>

            
        </div>
    </div>
</div>