<div class="testimonials" id="testimoniales">
    <div class="container">

        <h3 class="title">Nuestros Clientes</h3>

        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="/home/images/t1.webp" alt="Icono de perfil T1" title="Perfil T1">
                </li>
                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="/home/images/t2.webp" alt="Icono perdil T1" title="T2">
                </li>
                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="/home/images/t3.webp" alt="Icono perfil t3" title="T3">
                </li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">

                <!-- Quote 1 -->
                <div class="item active">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">
                                <p>Es un servicio excelente, no me tengo que mover de mi casa, ni entrar en contacto con nadie. Le entrego a Blackie con la correa y me la entregan impecable. Con unos capos.</p>
                                <h5>--Camila--</h5>
                            </div>


                        </div>
                    </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">

                                <p>Me encanta. Tratan a mi perro como si fuera de ellos y lo noto en como se comporta cuando llegan. Y el servicio es excelente. Gracias como siempre </p>
                                <h5>--Gerardo--</h5>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">

                                <p>Estamos re contentos con Sergio. Nos deja a Kiro brillante. Él siempre se revuelca en el barro y queda hecho un desastre.  </p>
                                <h5>--Mica--</h5>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>

            
        </div>
    </div>
</div>