<div class="buttom-w3" id="zonas">
    <div class="container">
        <div class="col-md-4 bottom-head text-center">
            <h4><a href="/">SMOKIE</a></h4>
            <div class="sub-para2">
                <p>Baño y Peluquería Canina a Domicilio</p>
                <p><a href="/villa_urquiza">Baño y Peluquería Canina en Villa Urquiza</a></p>
                <!-- <p><a href="/agronomia">Baño y Peluquería Canina en Agronomía</a></p> -->
                <p><a href="/belgrano">Baño y Peluquería Canina en Belgrano</a></p>
                <p><a href="/belgrano_r">Baño y Peluquería Canina en Belgrano R</a></p>
                <p><a href="/chacarita">Baño y Peluquería Canina en Chacarita</a></p>
                <p><a href="/coghlan">Baño y Peluquería Canina en Coghlan</a></p>
                <p><a href="/colegiales">Baño y Peluquería Canina en Colegiales</a></p>
                <p><a href="/florida">Baño y Peluquería Canina en Florida</a></p>
                <p><a href="/la_lucila">Baño y Peluquería Canina en La Lucila</a></p>
                <p><a href="/martinez">Baño y Peluquería Canina en Martinez</a></p>
                <p><a href="/nunez">Baño y Peluquería Canina en Nuñez</a></p>
                <p><a href="/olivos">Baño y Peluquería Canina en Olivos</a></p>
                <p><a href="/saavedra">Baño y Peluquería Canina en Saavedra</a></p>
                <p><a href="/san_isidro">Baño y Peluquería Canina en San Isidro</a></p>
                <p><a href="/vicente_lopez">Baño y Peluquería Canina en Vicente López</a></p>
                <p><a href="/villa_del_parque">Baño y Peluquería Canina en Villa del Parque</a></p>
                <p><a href="/localidades">Baño y Peluquería Canina - Localidades</a></p>
                <p>Baño y Peluquería Para Perros</p>
                
            </div>
        </div>
        <div class="col-md-4 copyright text-center">
            <div class="">
                <h4> Servicios</h4>
            </div>
            <div class="sub-para2">
                <p>Peluquería Canina</p>
                <p>Corte de Pelo Canino Higiénico</p>
                <p>Pelado y Rapado Canino</p>
                <p>Corte de Pelo Para Perros de Raza</p>
                <p>Baños y Cortes Para Perros</p>
                <p>Desenredado y Deslanado Canino</p>
                <p>Baños Caninos</p>
                <p>Baño Canino Antipulgas y Garrapatas</p>
                <p>Baño Cosmético Canino</p>
                <p>Baño Canino Hipoalergénico</p>
                <p>Baño Canino Medicado</p>
                <p>Baño Para Perros Grandes</p>
                <p>Corte de Uñas Canino</p>
                <p>Limpieza de Oídos Caninos</p>
                <p>Higiene Dental Canina</p>
            </div>
        </div>
        <div class="col-md-4 letter-sub text-center">
            <div class="sub-para">
                <p>Mascotas felices.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="">
                <a href="https://www.facebook.com/peluqueriaparaperrosadomicilio" aria-label="Visita nuestro Facebook" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0,0,256,256">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M42,37c0,2.762 -2.238,5 -5,5h-26c-2.761,0 -5,-2.238 -5,-5v-26c0,-2.762 2.239,-5 5,-5h26c2.762,0 5,2.238 5,5z" fill="#21c4cb"></path><path d="M34.368,25h-3.368v13h-5v-13h-3v-4h3v-2.41c0.002,-3.508 1.459,-5.59 5.592,-5.59h3.408v4h-2.287c-1.609,0 -1.713,0.6 -1.713,1.723v2.277h4z" fill="#ffffff"></path></g></g>
                        </svg>
                </a>
                <a href="https://www.instagram.com/smokiepeluqueriacanina/" aria-label="Visita nuestro Instagram" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0,0,256,256">
                        <g fill="#21c4cb" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M21.58008,7c-8.039,0 -14.58008,6.54494 -14.58008,14.58594v20.83203c0,8.04 6.54494,14.58203 14.58594,14.58203h20.83203c8.04,0 14.58203,-6.54494 14.58203,-14.58594v-20.83398c0,-8.039 -6.54494,-14.58008 -14.58594,-14.58008zM47,15c1.104,0 2,0.896 2,2c0,1.104 -0.896,2 -2,2c-1.104,0 -2,-0.896 -2,-2c0,-1.104 0.896,-2 2,-2zM32,19c7.17,0 13,5.83 13,13c0,7.17 -5.831,13 -13,13c-7.17,0 -13,-5.831 -13,-13c0,-7.169 5.83,-13 13,-13zM32,23c-4.971,0 -9,4.029 -9,9c0,4.971 4.029,9 9,9c4.971,0 9,-4.029 9,-9c0,-4.971 -4.029,-9 -9,-9z"></path></g></g>
                        </svg>
                </a>
                
                <a href="https://twitter.com/peluparaperros" aria-label="Visita nuestro Twitter" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0,0,256,256">
                        <g fill="#21c4cb" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M11,4c-3.866,0 -7,3.134 -7,7v28c0,3.866 3.134,7 7,7h28c3.866,0 7,-3.134 7,-7v-28c0,-3.866 -3.134,-7 -7,-7zM13.08594,13h7.9375l5.63672,8.00977l6.83984,-8.00977h2.5l-8.21094,9.61328l10.125,14.38672h-7.93555l-6.54102,-9.29297l-7.9375,9.29297h-2.5l9.30859,-10.89648zM16.91406,15l14.10742,20h3.06445l-14.10742,-20z"></path></g></g>
                        </svg>
                </a>
            </div>
        </div>
        <br>
        <div class="clearfix">
            <div class="sub-para2">
                <h4>Sitios Interesantes</h4>            
                <p><a href="https://www.argentina.gob.ar/justicia/derechofacil/leysimple/maltrato-animales" target="_blank">Ley 14.346 sobre Maltrato Animal</a></p>
                <p><a href="https://www.defensorba.org.ar/areatematica/proteccion-animal" target="_blank">DEFENSORBA.org - Protección Animal</a></p>
                <p><a href="https://buenosaires.gob.ar/areas/med_ambiente/apra/sanidad_animal.php?menu_id=35279" target="_blank">Sanidad y Protección Animal</a></p>
                <p><a href="https://buenosaires.gob.ar/noticias/postas-de-salud-para-mascotas-en-la-ciudad-conoce-el-calendario-de-diciembre" target="_blank">Postas de salud para mascotas en CABA</a></p>
                <p><a href="https://buenosaires.gob.ar/agenciaambiental/animalesba" target="_blank">Animales BA: Perros y Gatos</a></p>
                <p><a href="https://peluqueria-para-perros.blogspot.com/" target="_blank">Blog a Cuidados de Mascotas</a></p>
            
            </div>
        </div>

        

    </div>
</div>